<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <h1>{{ title }}</h1>
    <div style="height: 300px; width: 500px">
        <canvas id="myChart" width="500" height="300"></canvas>
    </div>

    <script>
        const labels = [
            {% for item in moisture_labels %}
            "{{ item }}",
            {% endfor %}
        ];

        const data = {
            labels: labels,
            datasets: [{
                label: 'Sensor 0',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [{% for item in moisture_values0 %}
                    "{{ item }}",
                    {% endfor %}],
            },{
                label: 'Sensor 1',
                backgroundColor: 'rgb(255, 132, 99)',
                borderColor: 'rgb(255, 132, 99)',
                data: [{% for item in moisture_values1 %}
                    "{{ item }}",
                    {% endfor %}],
            },{
                label: 'Sensor 2',
                backgroundColor: 'rgb(99, 132, 255)',
                borderColor: 'rgb(99, 132, 255)',
                data: [{% for item in moisture_values2 %}
                    "{{ item }}",
                    {% endfor %}],
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                scales: {
                    y: {
                        suggestedMin: 0,
                        suggestedMax: 100
                    }
                }
            }
        };
    </script>

    <script>
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>




    <h1>Temperatuur</h1>
    <div style="height: 300px; width: 300px">
        <canvas id="temperatureCanvas" width="300" height="300"></canvas>
    </div>






    <h1>Pompbediening</h1>
    <form method="POST" action="/home">
        <input type="submit" value="Activate Pump 1" name="action1"/>
        <input type="submit" value="Activate Pump 2" name="action2" />
        <input type="submit" value="Activate Pump 3" name="action3" />
    </form>
</body>
</html>