<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <h1>{{ title }}</h1>

    <canvas id="myChart" style="width: 500px; height: 500px;"></canvas>

    <script>
  const labels = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [0, 10, 5, 2, 20, 30, 45],
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
</script>

    <script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>








    <h1>Pompbediening</h1>
    <form method="POST" action="/home">
        <input type="submit" value="Activate Pump 1" name="action1"/>
        <input type="submit" value="Activate Pump 2" name="action2" />
        <input type="submit" value="Activate Pump 3" name="action3" />
    </form>
</body>
</html>